# Run this job on tagging
name: Release to PYPI
permissions:
  contents: read
  id-token: write
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      
      - name: Build package
        run: uv build
      
      - name: Publish to PyPI
        run: uv publish
