name: Spellcheck
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.54.0
        with:
          config_path: .github/spellcheck-settings.yml
          task_name: Markdown
