name: Test
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Test with Python ${{ matrix.python }}
    runs-on: ubuntu-latest

    services:
      falkordb:
        # Docker Hub image
        image: falkordb/falkordb:edge
        # Map port 6379 on the Docker host to port 6379 on the FalkorDB container
        ports:
          - 6379:6379

    strategy:
      matrix:
        python: ['3.8', '3.10', '3.11']
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python}}

      - uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run Tests
        run: poetry run pytest --cov --cov-report=xml

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        if: matrix.python == '3.10' && matrix.platform != 'macos-11'
        with:
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}    
